// Fonts
$font-logo: 'Bungee', sans-serif;
$font-default: 'Source Sans Pro', sans-serif;

// Colors Tweeter
$color-banner-blue: #4056A1;
$color-red: #e63946;
$color-font-basic: #545149;
$color-background: #f4f1ec;
$color-box-shadow: #9ea9cc;