nav {
  color: #ffffff;
  height: 120px;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav span.tweeter-logo{
  font-family: 'Bungee', cursive;
  flex-basis: 1.5em;
  margin-left: 1.5rem;
  font-size: 1.65em;
}

nav .tweeter-header{
  display: flex;
  flex-flow: column wrap;
  margin-right: 1.5rem;
}

nav div .tweeter-main{
  font-family: 'Source Sans Pro', sans-serif;
}

nav .tweeter-header i{
  align-self: center;
  color: red;
}