.previous-tweet {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

article.tweet:hover .person-id {
  opacity: 0.7;
}

article.tweet:hover {
  opacity: 1;
  box-shadow: 10px 10px 1px #9ea9cc;
}

article.tweet {
  border : solid #545149;
  opacity: 0.7;
  padding: 1em;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

article.tweet header div {
  display: flex;
  justify-content: flex-start;
}

article.tweet header i {
  padding: 0.2em;
}

article.tweet header .person-name {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0.2em;
}

article.tweet header .person-id {
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 0;
}

article.tweet .content {
  padding-top: 0.5em;
  font-weight: 600;
  position: relative;
  border-bottom: 3px solid #545149;
}

/*article.tweet .content:before {
  content: "";
  position: absolute;
  left: 2%;
  bottom: -0.9em;
  height: 0px;
  width: 96%;
  border-bottom: 3px solid #545149;
}*/

article.tweet footer {
  display: flex;
  justify-content: space-between;
}

article.tweet footer time {
  font-weight: 600;
  transform: scale(0.7);
}

article.tweet footer .tweet-icons {
  transform: scale(0.7);
}

article.tweet footer .tweet-icons i {
  padding: 0.2em;
  color: #4056A1;
}